.palette {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: #ddd;
  padding: 10px;
  float: left;
}
.palette .palette-item {
  border-radius: 3px;
  width: 60px;
  height: 60px;
  background: #444;
  float: left;
  margin: 5px;
  color: #fff;
}
.palette-canvas {
  background: #eee;
  min-height: 100px;
  width: 100%;
  float: left;
  box-sizing: border-box;
}
.ra-over {
  /* applied to a drop target when a draggable object is over it */
  border: 2px dashed #444 !important;
  background: #efefef !important;
}
.ra-over,
.ra-over * {
  box-sizing: border-box;
}
.ra-over-order {
  border-top: 2px dashed #444 !important;
}
.droparea {
  background: #fafafa;
  margin-right: 2px;
  margin-top: 2px;
  width: 100%;
  min-height: 100px;
  border: none;
  float: left;
}
.droparea.ra-target {
  /* applied to all drop targets when a drag operation begins, used to indicate drop targets on a page */
  background-color: #ddd;
  opacity: .5;
}
