<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
<title>{{ site.title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
{{ wp_head }}
</head>
<body class="{{ body_class }}">

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      {% block content %}
        index
      {% endblock %}
    </div>
  </div>
</div>
{{ wp_footer }}
</body>
</html>